* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar CSS */
.nav-bar {
    width: 98.9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: black;
    padding: 12px 20px;
    margin: 0;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.logo, .menu {
    margin-top: 10px;
}

.logo {
    margin-left: 150px;
}

.logo img {
    width: 20px;
}

.menu {
    display: flex;
    margin-right: 10px;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    font-size: 1.2rem;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu, .close-menu {
    position: absolute;
    color: white;
    cursor: pointer;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.nav-btn-2 {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    border-radius: 54px;
    margin-left: 151px;
    margin-top: 20px;
}

.home-hero {
    height: 710px;
    width: 98.9vw;
    position: relative;
}


/* Hero Section Home Page */

.backframe {
    margin-top: 0;
    height: 710px;
    width: 98.9vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.background-circle-1 {
    border-radius: 50%;
    background-color: rgb(36, 33, 33);
    border: 1px solid rgb(74, 139, 139);
    height: 500px;
    width: 500px;
    margin-top: 81px;
    margin-right: 120px;
    animation-name: example1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-circle-2 {
    border-radius: 50%;
    border: 1px solid rgb(111, 140, 140);
    background-color: rgb(36, 33, 33);
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.nav-img {
    height: 400px;
    width: 400px;
}

.home-hero .nav-desc {
    width: 530px;
}

@keyframes example {
    0% {
        border: 1px solid rgb(15, 69, 69);
    }

    25% {
        border: 1px solid rgb(98, 241, 241);
    }

    50% {
        border: 1px solid rgb(15, 69, 69);
    }

    100% {
        border: 1px solid rgb(98, 241, 241);
    }
}

@keyframes example1 {
    0% {
        border: 1px solid rgb(98, 241, 241);
    }

    25% {
        border: 1px solid rgb(15, 69, 69);
    }

    50% {
        border: 1px solid rgb(98, 241, 241);
    }

    100% {
        border: 1px solid rgb(15, 69, 69);
    }
}

.nav-title {
    margin-top: 170px;
    margin-left: 150px;
    width: 632px;
    color: white;
    font-size: 3.4rem;
    text-align: left;
}

.nav-desc {
    margin-left: 150px;
    width: 466px;
    margin-top: 10px;
    color: white;
    font-size: 1rem;
}

.inner {
    color: aqua;
}


/* Home Body */

.Body {
    margin-top: 50px;
    margin-bottom: 5%;
}

.body-head {
    color: rgb(55, 91, 91);
    text-align: center;
    margin-bottom: 3%;
}

.body-title {
    color: black;
    text-align: center;
    margin-bottom: 2%;
}

.services {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 10vw;
    justify-content: center;
}

.box {
    height: 240px;
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box:nth-child(odd) {
    background-color: black;
    color: white;

}

.box:nth-child(even) {
    color: black;
}


.body-logo {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 15px;
}

.box:nth-child(even) .body-logo:first-child {
    background-color: black;
}

.body-logo i {
    margin-top: 16px;
    margin-left: 11px;
    font-size: 20px;
}

.body-content {
    margin-top: 45px;
    margin-left: 15px;
}

.body-desc {
    margin-top: 8px;
    margin-left: 15px;
}


/* Footer  */
/* 
.footer {
    width: 98.9vw;
    margin-top: 5%;
    background-color: black;
    padding-bottom: 1%;
}

.footer-logo {
    height: 21px;
    width: 23px;
    margin-left: 156px;
    margin-top: 2%;
}

.footer-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
}

.footer li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.footer li {
    margin-bottom: 10px;
}

.footer ul {
    margin-left: 28vw;
    margin-top: -22px;
    cursor: pointer;
}

.footer .sub {
    color: white;
    float: right;
    margin-right: 430px;
    margin-top: -177px;
}

.footer .footer-input {
    width: 280px;
    height: 35px;
    border: none;
    border-radius: 25px;
    margin-top: 6%;
}

.footer .footer-btn {
    background-color: rgb(196, 195, 195);
    border: none;
    cursor: pointer;
    color: rgb(6, 1, 1);
    height: 35px;
    width: 80px;
    border-radius: 25px;
    padding: 2px;
    font-size: 0.8rem;
    float: right;
    margin-top: 6%;
}

.footer .footer-form {
    height: 35px;
    width: 400px;
    border-radius: 25px;
    text-align: center;
    float: inline-end;
    margin-right: 158px;
    margin-top: -169px;
}

hr {
    margin-top: 25px;
    color: white;
    width: 85vw;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-detail {
    display: flex;
    color: white;
    justify-content: space-around;
    margin-top: 20px;
}

.detail-list p {
    padding-bottom: 5%;
}

.detail-social {
    display: flex;
    padding: 0 5px;
}

.detail-social a {
    margin: 0 6px;
    margin-top: 19px;
    cursor: pointer;
}

.detail-social i {
    height: 15px;
    width: 15px;
    font-size: 20px;
} */


.footer {
    width: 98.9vw;
    margin-top: 5%;
    background-color: black;
    padding-bottom: 1%;
}

.footer-logo {
    height: 21px;
    width: 23px;
    margin-left: 156px;
    margin-top: 2%;
}

.footer-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
}

.footer li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.footer li {
    margin-bottom: 10px;
}

.footer ul {
    margin-left: 28vw;
    margin-top: -22px;
    cursor: pointer;
}

.footer .sub {
    color: white;
    float: right;
    margin-right: 430px;
    margin-top: -177px;
}

.footer .footer-input {
    width: 280px;
    height: 35px;
    border: none;
    border-radius: 25px;
    margin-top: 6%;
}

.footer .footer-btn {
    background-color: rgb(196, 195, 195);
    border: none;
    cursor: pointer;
    color: rgb(6, 1, 1);
    height: 35px;
    width: 80px;
    border-radius: 25px;
    padding: 2px;
    font-size: 0.8rem;
    float: right;
    margin-top: 6%;
}

.footer .footer-form {
    height: 35px;
    width: 400px;
    border-radius: 25px;
    text-align: center;
    float: inline-end;
    margin-right: 158px;
    margin-top: -169px;
}

hr {
    margin-top: 25px;
    color: white;
    width: 85vw;
}

.horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
}

.detail-list p {
    padding-bottom: 5%;
}

.detail-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px;
}

.detail-social a {
    margin: 0 6px;
    margin-top: 19px;
    cursor: pointer;
}

.detail-social i {
    height: 15px;
    width: 15px;
    font-size: 20px;
}





/* Login, Signup */

.login {
    display: flex;
    margin-top: 50px;
}

.container {
    max-width: 400px;
    margin: 0 8% 0 15%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.container p {
    margin: 4% 0;
}

label {
    padding-left: 6px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form a {
    float: right;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-right: 18px;
    font-size: small;
}

input[type="submit"] {
    background-color: black;
    color: white;
    width: 95%;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    font-weight: bold;
}

.left {
    width: 47%;
    float: left;
}

.right {
    width: 46%;
    float: right;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}

.social-button {
    padding: 10px;
    margin: 15px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.social-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.footer-login {
    text-align: center;
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}

.img img {
    height: 700px;
    width: auto;
    margin-right: 20px;
}

/* signup */
.signup {
    display: flex;
    margin-top: 50px;
}

#latitude, #longitude {
    display: none;
}


/* About Us  */

.about-content {
    margin-top: 50px;
}

.letstalk {
    float: left;
    width: 25%;
    margin-left: 200px;
}

.h3-title {
    font-size: 30px;
}

.about-hr {
    float: left;
    width: 100%;
    margin-right: 40px;
    color: black;
}

.about-email, .about-call, .about-find {
    display: inline-flex;
    margin: 10px 80px 10px 0;
}

.about-text {
    margin-left: 10px;
}

.about-text p {
    margin: 0;
}

.about-links {
    display: block;
}

.about-links img {
    padding: 10px;
}

.about-form {
    margin: 40px auto;
    padding: 40px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(220, 220, 220);
    float: right;
    margin-right: 200px;
}

.about-form div {
    display: grid;
}

.about-form div:nth-child(odd) {
    float: left;
    padding-right: 40px;
}

.about-form div:nth-child(even) {
    float: center;
}

.about-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid rgb(200, 200, 200);
    background: rgb(220, 220, 220);
}

.about-submit {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 13px;
    width: 30%;
}

.about-submit:hover {
    font-weight: bold;
}

.about-map img {
    width: 80%;
    margin-left: 150px;
}

.ourteam {
    margin-top: 50px;
}

.ourteam h1 {
    text-align: center;
}

.team-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.team-member {
    width: 20%;
}

.team-member>.about-img>img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.team-member>.about-img>.about-icon {
    position: absolute;
    margin-top: 22px;
    margin-left: 110px;
}

.team-member>.about-img>.about-icon>a {
    text-align: center;
    margin-left: 5px;
}

.team-member .member-name {
    text-align: center;
    margin: 5px;
    font-weight: bold;
}


/* Professional */

.professional-container {
    max-width: 400px;
    margin: 0 35%;
    padding: 20px;
}

.professional-title {
    width: 600px;
    margin-left: -4.5rem;
    height: auto;
    margin-top: 2%;
    /* font-size: 1.5rem; */
}

.professional-container form {
    border: 2px solid rgb(206, 206, 206);
    margin: 8% 0 0 0;
    padding: 8%;
    width: 30vw;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.professional-name,
.professional-email,
.professional-password,
.professional-aadhar,
.professional-city,
.professional-contact,
.professional-address,
.professional-image {
    width: 95%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.professional-options {
    margin-top: 10px;
    display: flex;

}

.professional-radio {
    margin-top: -5px;
}

.professional-drag {
    font-weight: bold;
    margin-left: 18px;
}

.professional-imgformat {
    margin-left: 45px;
}

.professional-browse {
    padding: 8px;
    margin-left: 75px;
    background: none;
    border: 4px solid lightgray;
    border-radius: 25px;
}

.professional-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.professional-register-button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 50px;
    width: 100%;
}

.professional-footer-login {
    margin-top: 5%;
    text-align: center;
}

.professional-container form a {
    float: none;
    padding-left: 1%;
    font-size: 15px;
}

/* profLogin */

.profLogin-container {
    margin: 2% 38%;
    width: 50%;
}

.profLogin-container h2 {
    margin-left: 4.5%;
}

.profLogin-container form {
    margin: 1%;
    padding-top: 5%;
}

.professional-footer-login a {
    margin: 0 20% 0 -15%;
}

/* order */

.order-container {
    display: flex;
    margin-top: 1%;
}

.order-left {
    width: 40%;
    margin-left: 10%;
}

.order-left-title {
    text-align: left;
    margin: 1.5% 0 0 4%;
}

.order-left-details {
    width: 85%;
    height: auto;
    margin: 1% 8% 0 4%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-left-details p {
    font-size: 1.2rem;
    margin: 15px 0 15px 10px;
}

.order-right {
    width: 50%;
}

.order-rating-title {
    margin-top: 0;
    text-align: center;
}

.order-right-pichart {
    width: 40%;
    height: auto;
    margin-left: 30%;
}

.order-page>h1 {
    margin-top: 4%;
}

/* Profile */
.profile-booked-services li {
    height: 50%;
    border: 2px solid rgb(229, 227, 227);
    width: 80%;
    padding: 3%;
    margin: 1% 0 0 8%;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(208, 205, 205);
    list-style: none;
    line-height: 150%;
}

.profile-booked-services li button {
    margin: 1% 2% 0 0;
}


/* book service */

.service-container {
    height: 100%;
    margin-bottom: -5%;
    padding-bottom: 4%;
}

.service-details {
    width: 100%;
    text-align: center;
    padding-top: 2%;
}

.service-details button {
    margin-left: 1%;
}

.selection {
    width: 83vw;
    margin-left: 5%;
    height: 40px;
    padding-left: 15px;
    background-color: white;
    border-radius: 5px;
    font-size: large;
}

.selection:hover {
    cursor: pointer;
}

.service-text {
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: x-large;
    color: white;
}

.grid {
    display: grid;
    margin-top: 2%;
}

.row {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    margin-left: -5%;
}

.col {
    border: 2px solid rgb(212, 211, 211);
    border-radius: 10px;
    width: 120%;
    padding: 5%;
    margin: 5% 0;
    font-size: larger;
    box-shadow: 3px 3px grey;
    background-color: azure;
    line-height: 180%;
}

button {
    background: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: medium;
    margin-top: 2%;
}

.col .book {
    margin-right: 2%;
    margin-left: 0;
}

button:hover {
    background: #000000;
    cursor: pointer;
}

.addservice-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addservice-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 0;
}

.addservice-container img {
    height: 500px;
    width: auto;
}

.addservice-price {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addservice-button {
    display: inline-block;
    background-color: #100f0f;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #d3d3d3;
}

.discard-button {
    border: 1px solid #d3d3d3;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.add-button {
    background-color: #000000;
    color: #ffffff;
    float: right;
    padding: 10px 50px;
}


.bookservice-btn {
    display: flex;
    justify-content: space-between;
}

/* ProfDetail */

.profdetails-rating {
    align-items: center;
    justify-content: center;
    margin-left: 45%;
}

.profdetails-star {
    align-items: center;
    justify-content: center;
    margin-left: 70%;
}

.profdetails-col {
    background: white;
}

/* Payement */

.bill {
    width: 98.9vw;
    position: relative;
}

.payment-img {
    position: absolute;
    top: -31px;
    right: 384px;
}

.payment-card-1 {
    width: 40vh;
    height: 22vh;
    border: 2px solid black;
    margin: 100px 0px 5px 150px;
    border-radius: 6px;
}

.payment-card-2 {
    width: 40vh;
    height: 25vh;
    border: 2px solid black;
    margin: 100px 0px 5px 150px;
    border-radius: 6px;
}

.bill a {
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    width: 50px;
    margin-left: 288px;
    text-decoration: none;
}

.bill p {
    margin-left: 10px;
}

.bill hr {
    width: 38vh;
}

.bill h3 {
    margin-left: 10px;
}

/* Admin Signup & Login */

.admin-signup, .admin-login {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.admin-signup form, .admin-login form {
    width: 400px;
    min-height: 600px;
    padding: 20px 0 20px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.admin-login form {
    min-height: 500px;
}

.admin-signup h1, .admin-login h1 {
    margin: 2% 0;
}

.admin-buttons {
    width: 90%;
    text-align: center;
}

.admin-signup-login, .admin-login-signup {
    text-align: center;
    color: #999;
    font-size: 14px;
    margin: 5% 0 0 13%;
}

.admin-login-signup a {
    font-size: small;
    margin: 0 27% 0 -6%;
}

.admin-signup .img img {
    height: 700px;
    width: auto;
    margin-right: 20px;
}

/* Admin */

.admin h1 {
    margin-top: 1.5%;
    text-align: center;
}

.admin .radio {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 1% 0;
    font-size: x-large;
}

.admin input {
    width: auto;
}

.admin h2 {
    margin-top: 1.5%;
    text-align: center;
}

button {
    background: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: medium;
    margin-left: 2%;
}

button:hover {
    background: #000000;
    cursor: pointer;
}

.list-item {
    height: 50%;
    border: 2px solid rgb(229, 227, 227);
    width: 80%;
    padding: 2% 0 2% 4%;
    margin: 1% 0 0 8%;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(208, 205, 205);
}

.list-item>div {
    padding: 5px;
}

.list-item button {
    margin: 1% 2% 0 0;
}

.list-item button a {
    text-decoration: none;
    color: white;
}

.admin-all-data {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .admin-data {
    flex: 1;
    min-width: 200px;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .admin-detail {
    margin: 0;
  }
  
  
  

/* Select Service */
.select-service-detail {
    display: flex;
    margin-top: 1%;
}

.select-service-detail-left {
    width: 50%;
    margin-left: 13%;
    margin-right: 5%;
}

.select-service-detail-left h2 {
    text-align: center;
    margin: 1.5% 0 0 4%;
}

.select-service-detail .card {
    font-size: large;
    line-height: 180%;
    width: 85%;
    height: auto;
    margin: 1% 8% 10% 4%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-service-detail .card button {
    margin: 3% 3% 0 0;
}

.select-service-detail .order-pichart {
    width: 50%;
}

.select-service h2 {
    text-align: center;
    margin-top: 1%;
}





/* Responsive Navbar */

@media(max-width: 610px) {
    .nav-bar {
        width: 98.9vw;
        height: 7vh;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: all 0.2s ease-in-out;
    }

    .logo {
        margin-left: 0px;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu, .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }
}

/* responsive home page */

@media (max-width: 610px) {

    .background {
        display: none;
    }

    .backframe {
        width: 46rem;
    }

    .nav-bar {
        width: 46rem;
    }

    .nav-title, .nav-desc {
        margin-left: 10vw;
    }

    .nav-btn-2 {
        margin-left: 60vw;
    }

    .services {
        margin-left: 30vw;
    }

    .body-head, .body-title {
        margin-left: 64vw;
    }

    .footer {
        width: 46rem;
    }

    .footer-logo {
        margin-left: 533px;
    }

    .footer-form, .sub {
        display: none;
    }

    .footer-list {
        margin-left: -19vw;
    }

}

/* payment */

@media (max-width: 610px) {
    .payment-img {
        display: none;
    }

    .payment-btn {
        width: 40px;
        font-size: small;
    }

    .bill a {
        margin-left: 60vw;
    }

    .payment-card-1, .payment-card-2 {
        margin-left: 50vw;
    }
}

/* about us */

@media (max-width: 610px) {
    .about-content {
        width: 43rem;
    }

    .about-form {
        margin-right: 14vw;
    }

    .letstalk {
        width: 60%;
        text-align: center;
        margin-left: 180px;
    }

    .about-map {
        margin-right: 17vw;
    }

    .team-member>.about-img>.about-icon>a {
        display: none;
    }

    .ourteam {
        margin-left: 70px;
    }
}

/* professional */

@media (max-width: 610px) {
    .professional-container {
        margin-top: 100px;
        margin-left: 150px;
        width: 100%;
    }
}

/* login */

@media (max-width: 610px) {
    .img {
        display: none;
    }

    .login, .signup {
        margin-left: 200px;
        width: 100%;
    }

    .container {
        width: 400px;
    }

    .container>form {
        margin-top: 10px;
    }

    .right {
        margin-top: 7px;
    }
}

@media only screen and (max-width: 610px) {
    .service-container {
        height: 100%;
        background-repeat: repeat;
        overflow: scroll;
    }

    .row {
        flex-wrap: wrap-reverse;
        flex-direction: row;
    }

    .col {
        width: 70%;
        margin-top: 4%;
    }

    .col button {
        margin-left: 35%;
    }
}

/* Admin Responsive */
@media screen and (max-width: 768px) {
    .admin-data {
      flex-basis: 50%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .admin-data {
      flex-basis: 100%;
    }
  }